<div class="row">
    <div class="span6">
        <h2>Maestros de Obra</h2>
    </div>
    <div class="span6">
        <br>
        <%= link_to raw('Nuevo <i class="icon-plus icon-white"></i>'), new_production_teacherofwork_path, :class => "btn btn-primary pull-right" %>
    </div>
</div>
<br>

<table class="table table-striped table-bordered table-condensed table-hover">
  <tr>
    <th>#id</th>    
    <th>Nombre</th>
    <th>Movil</th>
    <th>Telefono</th>
    <th>Nacimiento</th>
    <th>Correo</th>
    <th>Foto</th>
    <th>Ruc</th>
    <th>Banco 1</th>
    <th>Acciones</th>
  </tr>

<% @teacherofworks.each do |teacherofwork| %>
  <tr>
    <td><%= teacherofwork.id %></td>
    <td>
        <%= teacherofwork.entity.nombre %> 
        <%= teacherofwork.entity.apellido %> 
        <%= teacherofwork.entity.razon_social %> 
    </td>
    <td><%= teacherofwork.movil %></td>
    <td><%= teacherofwork.telefono %></td>
    <td><%= teacherofwork.nacimiento %></td>
    <td><%= teacherofwork.correo %></td>
    <td><%= teacherofwork.foto %></td>
    <td><%= teacherofwork.ruc %></td>
    <td><%= teacherofwork.banco_1 %></td>
    <td>
        <%= link_to raw('<i class="icon-eye-open icon-white"></i>'), [:production,teacherofwork], :class => "btn btn-small btn-info" %>
        <%= link_to raw('<i class="icon-edit icon-white"></i>'), edit_production_teacherofwork_path(teacherofwork), :class => "btn btn-small btn-success" %>
        <%= link_to raw('<i class="icon-trash icon-white"></i>'), [:production,teacherofwork], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-small btn-danger" %>
    </td>
  </tr>
<% end %>
</table>

