<h1>Listing projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Project initial date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.project_initial_date %></td>
    <td><%= link_to 'Show', [:production, project]  %></td>
    <td><%= link_to 'Edit', edit_production_project_path(project) %></td>
    <td><%= link_to 'Destroy', [:production, project], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_production_project_path %>
